
nav {
    background-color: #444;
    padding: 10px 20px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
}

p {
    margin-bottom: 20px; /* Adjust spacing between paragraphs */
    line-height: 1.5; /* Adjust line height for better readability */
}

ul {
    padding-left: 40px; /* Adjust padding for bullets */
    margin-bottom: 20px; /* Adjust spacing between lists */
}

li {
    margin-bottom: 5px; /* Adjust spacing between list items */
}

/* ----- css for the leadership images ------ */

.leaders {
    display: flex;
    gap: 30px; /* Adjust gap between items */
}

.item {
    text-align: center;
    background-color: lightcyan;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    width: 300px; /* Adjust item width */
}

.item img {
    width: 100%;
    max-width: 200px; /* Adjust maximum image width */
    border-radius: 5px;
    margin-bottom: 20px; /* Adjust spacing between image and details */
}

.details h2 {
    margin-top: 0;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details ul li {
    margin-bottom: 10px;
}


/* ----- css for the contact table ------ */
.contact-table {
    background-color: lightgray;
    width: 100%;
    border-collapse: collapse;
}

.contact-table th, .contact-table td {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.contact-table th {
    background-color: lightslategray;
}

.contact-table a {
    text-decoration: none;
    color: blue;
}

.contact-table a:hover {
    text-decoration: underline;
}
