
nav {
    background-color: #444;
    padding: 10px 20px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
    
}
.container {
    max-width: 1200px;
    padding: 0 20px;
}

body{
    margin: 0px;
    padding: 0px;
}

.project {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
}
.project img {
    float: left;
    margin-right: 20px;
    max-width: 300px;
    max-height: 200px;
}
.project h2 {
    margin-top: 0;
}


/* CSS styles for the client review section */
#client-reviews {
    max-width: 800px;
    /* margin: 0 auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#client-reviews h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
#client-reviews ul {
    list-style: none;
    padding: 0;
}
#client-reviews li {
    margin-bottom: 15px;
}
#client-reviews li img {
    width: 100px;
    height: 60px;
    margin-right: 10px;
}
#client-reviews li strong {
    color: #007bff;
}

/* CSS styles for manual entry form of client review section */

#add-review-form {
    display: none; /* Initially hide the form */
    margin-top: 20px; 
    padding: 20px; 
    border: 1px solid ; 
    border-radius: 10px;
    background-color: lavender; /* Set a background color for the form */
}

#add-review-form input[type="text"],
#add-review-form textarea {
    width: 100%; 
    margin-bottom: 10px; 
    padding: 10px; 
    border: 1px solid ; 
    border-radius: 5px; /* Add rounded corners to input fields */
    box-sizing: border-box;
     /* Include padding and border in element's total width and height */
}

#add-review-form input[type="submit"] {
    background-color: lightgreen; 
    color: black; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; /* Changing the cursor to pointer on hover over the submit button */
}

#add-review-form input[type="submit"]:hover {
    background-color: green; /* Change background color on hover */
}
