header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: gray;
    padding: 20px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
form {
    padding-left: 20px;
}
label {
    display: inline-block;
}
section {
    padding: 20px;   
}
body {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin: 0 auto;
    max-height: auto;
    max-width: 100%;   
}
.leaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px; /* Adjust gap between images */
}
.item {
    text-align: left;
    font-weight: bold;
    
}
.item img {
    width: 250px; /* Adjust image size */
    height: 200px;
    margin-bottom: 10px; /* Adjust spacing between image and text */
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}