header {
    background-color: steelblue;
    color: white;
    padding: 20px;
    text-align: center;
}

.leaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px; /* Adjust gap between images */
}
.item {
    text-align: left;
    font-weight: bold;
    
}
.item img {
    width: 250px; /* Adjust image size */
    height: 200px;
    margin-bottom: 10px; /* Adjust spacing between image and text */
}

.poll-container {
    margin: 10px auto;
    width: 1000px;
    text-align: left;
    text-align: center;
    table-layout: cent;
}

.poll-options {
    margin-bottom: 20px;
}
.poll-options input[type="radio"] {
    margin-right: 10px;
}
.poll-results {
    font-weight: bold;
}
#poll-table {
    display: none;
    margin: 0 auto;
}
#topicCountsBody {
    background-color: darkgray;
    font-weight: bold;
    border: 2px solid black;
}
table {
    border: 1px solid black; border-collapse: collapse; padding: 3px; width:25%; margin-left: auto;  margin-right: auto;
}
thead, th, td {
    border: 1px solid black; border-collapse: collapse; }
td { padding: 5px; }  
body{
    margin: 0px;
    padding: 0px;
    background-color: lightcyan;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 200px;
} 

select {
    padding: 3px;
}
nav {
    background-color: navy;
    padding: 20px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
footer {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    }